@using yoklamaSDU.AppCode
@{ 
    LoginUser loginUser = (LoginUser)Session["LoginUser"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Sdu Online Yoklama Sistemi
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/demo/demo.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="~/Content/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Sdu Yoklama Sistemi
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="accordionSidebar">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "AnaSayfa" ? "nav item active" : "nav item")">
                        <a class="nav-link" href=@Url.Action("Index","AnaSayfa")>
                            <i class="material-icons">dashboard</i>
                            <p>Ana Sayfa</p>
                        </a>
                    </li>
                    @* öğrenci için geleek burası*@
                    @if(loginUser.AuthType==(int)EnumAuthType.Ogrenci)
                    {

                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "DersBilgileri" ? "nav item active" : "nav item")">
                        <a class="nav-link" href=@Url.Action("Index","DersBilgileri")>
                            <i class="material-icons">school</i>
                            <p>Ders Bilgileri</p>
                        </a>
                    </li>
                    }
                    else
                    {

                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Yoklama" ? "nav item active" : "nav item")">
                        <a class="nav-link" href=@Url.Action("Index","Yoklama")>
                            <i class="material-icons">fingerprint</i>
                            <p>Yoklama Başlat</p>
                        </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "DersEkle" ? "nav item active" : "nav item")">
                        <a class="nav-link" href=@Url.Action("Index","DersEkle")>
                            <i class="material-icons">add</i>
                            <p>Ders Ekle</p>
                        </a>
                    </li>
                    }
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Ayarlar" ? "nav item active" : "nav item")">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="material-icons">settings</i>
                            <p>Ayarlar</p>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <a class="nav-link" href=@Url.Action("Index","Ayarlar")>
                                <div class="row">
                                    <i class="material-icons">lock</i>
                                    <p>Şifre Değiştir</p>
                                </div>
                            </a>
                            <div class="row">
                                <a class="nav-link" href=@Url.Action("Logout","Giris")>
                                    <i class="material-icons">power_settings_new</i>
                                    <p>Çıkış</p>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/Content/js/core/jquery.min.js"></script>
    <script src="~/Content/js/core/popper.min.js"></script>
    <script src="~/Content/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Content/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Content/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Content/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Content/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Content/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Content/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Content/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Chartist JS -->
    <script src="~/Content/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/demo/demo.js"></script>

    <script src="~/scripts/toastr.js"></script>
    @if (Session["toastError"] != null && (string)Session["toastError"] == "error")
    {
        <script type="text/javascript">
        $(document).ready(function () {
            toastr.error("Girilen eski şifre hatalı.", "Eski Şifre Hatası");
        })
        </script>
    }
</body>

</html>
